---
import Layout from '../layouts/Layout.astro';
import { Books } from "../components/BooksContent"
import { PrefetchBooks } from "../components/PrefetchBooks";
---

<Layout title="Welcome to Astro.">
	<PrefetchBooks slot="head" />
	<main>
		<div class="p-4">
			<a href="/">View this page without pre-fetch</a>
		</div>
		<Books client:load />
	</main>
</Layout>

